.active-status {
  .status();
  background-color: @green;
}

.inactive-status {
  .status();
  background-color: @dark-gray;
}

.active-text {
  color: @green;
}

.divider {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-20 {
  font-size: 20px;
}