.header {
  border-top: 20px solid @dark-gray;
}

.logo {
  width: 100px;
  &__img {
    max-width: 100%;
  }
}


/* Overriding antd-header styles */
.ant-layout-header {
  height: @layout-height;
  background: @light-gray;
}