#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.ant-layout {
  background: #fff;
}

.ant-table {
  color: @text-table-color;
}

.ant-table-wrapper {
  margin-top: 20px;
}

.ant-table-tbody > tr.ant-table-row {
  cursor: pointer;
}

body {
  color: @dark-gray;
}
