.post {
  background: @light-gray;
  padding: 1em;
  &__title {
    font-weight: bold;
    margin: 0;
  }
  &__img {
    margin-right: 10px;
    max-width: 250px;
    width: 250px;
  }
  &-details {
    display: flex;
    margin-top: 20px;
  }
}
