.table-header {
  &__title {
    font-size: 16px;
    color: @black;
    margin-bottom: 0;
  }
  &__sub-title {
    font-size: 14px;
    color: @text-color;
    margin-bottom: 0.4em;
  }
  &__input {
    border-radius: 4px;
    @media @mlg {
      max-width: 245px;
    }
  }
}
