.user {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  &__avatar {
    background: @light-gray;
    text-align: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-right: 20px
  }
  &__name, &__email {
    margin: 0;
  }
  &__email {
    color: @text-color;
  }
  &__status--active {
    color: @green;
  }
  &-stats {
    display: flex;
  }
  &__s {
    width: 150px;
    color: @text-color;
    line-height: 1;
    margin-right: 10px;
    &:not(:last-of-type) {
      border-right: 1px solid @light-gray;
    }
    span {
      text-transform: uppercase;
      font-size: 12px;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}