@light-gray: #f3f5f6;
@dark-gray: #404040;
@green: #049650;
@dark-red: #a14a20;
@black: #000;

@text-color: #b7b7b7;
@text-table-color: #404040;
@layout-height: 85px;


/* Media queries */

// Small devices (landscape phones)
@mwsm: ~"(max-width: 767.98px)";
// Medium and Large screens (Tablets and up) 
@mlg: ~"(min-width: 767.98px)";